<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Clase</th>
            <th>Modelo</th>
            <th>Auto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Compra aqui</th>
        </tr>
    </thead>
    <tbody>
        <tr class="items" *ngFor="let item of items" [ngClass]="{'oferta':item.oferta } ">
            <td><img width="100" class="img-thumnbail" 
            [src]="item.image" [alt]="item.nombre"></td>
            <td>{{item.nombre}} </td>
            <td>{{item.clase}}</td>
            <td>{{item.modelo}}</td>
            <td>{{item.precio | currency}}</td>
            <td>
                <button class="btn btn-primary btn-sm" (click)="upCantidad(item)">+</button>
                <input type="number" [(ngModel)]="item.cantidad" (keyup)="cambiarCantidad(event, item)">
                <button class="btn btn-primary btn-sm" (click)="downCantidad(item)">-</button>
            </td>
        </tr>
    </tbody>
</table>