
tr  .boton-comprar{
   vertical-align: middle;
}
span{
    margin: 5px;
    background-color: rgb(205, 202, 50) ;
 }
td{
      background-color: rgb(192, 202, 96);
      padding: 0px;

   }
   th{
      margin-right: 40px ;
   }