<table>
    <thead>
        <h5>Listado de Compras</h5>
        <tr class="table text-center">
            <th>Imagenes</th>
            <th>Nombre</th>
            <th>Clase</th>
            <th>Modelo</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="items" *ngFor="let item of (listaCarrito$ | async)">
            <td><img width="100" class="img-thumnbail" [src]="item.image" [alt]="item.nombre"></td>
            <td>{{item.nombre}} </td>
            <td>{{item.clase}}</td>
            <td>{{item.modelo}}</td>
            <td>{{item.precio | currency}}</td>
            <td>{{item.cantidad}}</td>
        </tr>
    </tbody>
</table>