footer{
    text-align: center;
    background-color: rgb(191, 122, 255);
}
.container{
    background-color: rgb(97, 133, 64);
    text-align: center;
    padding: 0px;
}
td, span{
  vertical-align: middle;  
}
input{
    max-width: 40px;
}