td, th{
    text-align: center;
    padding: 5px;
    margin: 5px;
    vertical-align: middle;
    }
  
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input{
    max-width: 40px;
    text-align: center;
    width:  auto;
}
.boton-derecho{
    margin-right: 4px;

}